@font-face {
              font-family: "mohave";
              src: url("../fonts/Mohave.otf");
}

@font-face {
              font-family: "avenir";
              src: url("../fonts/AvenirLTStd-Light.otf");
}

* {
    margin: 0px;
    padding: 0px;
}


@media only screen and (max-width: 768px)  {
.bg {
    background-image: url(../img/bg-img.jpg);
    position: relative;
    background-size: cover;
    text-align: center;
    color: white;
    
}

h1 {
    top:15%;
    width: 100%;
    position: relative;
    font-size: 15vw;
    font-family: mohave;
    padding-bottom: 20px;
}
p {
    font-size: 1.5em; 
    width: 100%;
    position: relative;
    top: 15%;
    font-family: mohave;
}

form {
    position: relative;
    top: 25%;
}

#start {
    font-family: avenir;
    font-size: 1em;
    padding: 5px;
    background-color: rgba(26, 188, 156,0.9);
    border-color: rgba(26, 188, 156,1.0);
    border-radius: 0px;
    color: white;
    margin-top: 20%;
}
#start:hover {
    font-family: avenir;
    font-size: 1em;
    padding: 5px;
    background-color: rgba(26, 188, 156,0.9);
    border-color: rgba(26, 188, 156,1.0);
    border-radius: 0px;
    color: white;   
}
#start:focus {
    outline: 0;
    font-family: avenir;
    font-size: 1em;
    padding: 5px;
    background-color: rgba(26, 188, 156,0.9);
    border-color: rgba(26, 188, 156,1.0);
    border-radius: 0px;
    color: white;   
}
}

@media only screen and (min-width: 768px)  {
.bg {
    background-image: url(../img/bg-img.jpg);
    position: relative;
    background-size: cover;
    text-align: center;
    color: white;
    
}

h1 {
    top:15%;
    width: 100%;
    position: relative;
    font-size: 8em;
    font-family: mohave;
}
p {
    font-size: 2.5em; 
    position: relative;
    top: 15%;
    font-family: mohave;
    width: 100%;
}

#start {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    font-family: avenir;
    font-size: 1.2em;
    padding: 12px;
    background-color: rgba(26, 188, 156,0.9);
    border-color: rgba(26, 188, 156,1.0);
    border-radius: 0px;
    color: white;
    margin-top: 20%;
}
#start:hover {
    font-family: avenir;
    font-size: 1.2em;
    padding: 12px;
    background-color: rgba(26, 188, 156,0.9);
    border-color: rgba(26, 188, 156,1.0);
    border-radius: 0px;
    color: white;   
}
#start:focus {
    outline: 0;
    font-family: avenir;
    font-size: 1.2em;
    padding: 12px;
    background-color: rgba(26, 188, 156,0.9);
    border-color: rgba(26, 188, 156,1.0);
    border-radius: 0px;
    color: white;   
}
}