@font-face {
              font-family: "galano";
              src: url("../fonts/Galano%20Grotesque%20Alt.otf");
}


* {
    margin: 0px;
    padding: 0px;
    
    color: white;
    font-family: galano;
}

body {
    background-image: url("http://images.huffingtonpost.com/2014-02-06-LoveParkstatue_Philly_editorialonly_cMarcoRubino_shutterstock_146655779crop.jpg");
    background-size: cover;
}



@media only screen and (max-width: 992px)  {
    
.hover-off {
    position: fixed;
    text-align: center;
    font-size: 1em;
    width: 25%;
    top: 35%;
    left: 10%;
    display: none;
}

.hover-on {
    display: block;
}
    
.bg-black {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    
}

    
header {
    text-align: center;
    margin: 25px 0px;
    z-index: 2;
    color: white;
    position: relative;
}
    
h1 { z-index: 3; opacity: 1.0 }

.left-column {
    width: 100%;
    position: relative;
    left: 0%;
    text-align: right;
    font-size: 1em;
    padding-right: 50px;
    z-index: 2;
}

.right-column {
    width: 100%;
    position: relative;
    left: 0%;
    font-size: 1em;
    text-align: right;
    padding-right: 50px;
    z-index: 2;
}

input {
    margin: 20px; 50px;   
    
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 20%; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8.4px;
  width: 5px;
  background: white;
  cursor: pointer;
  margin-top: -14px;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 8.4px;
  width: 5px;
  background: white;
  cursor: pointer;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 8.4px;
  width: 5px;
  background: white;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #3071a9;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: white;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: white;
}
input[type=range]::-ms-fill-upper {
  background: white;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: white;
}

#submit {
    font-size: 5em;
    border-style: none;
    z-index: 1;
    position: relative;
    float: right;
    margin-right: 50px;
}
#submit:hover {
    opacity: 0.9;
}
#submit:focus { 
    outline: 0;   
}
    
button { background-color: rgba(0,0,0,0); }
    i { background-color: rgba(0,0,0,0); }
    
}

@media only screen and (min-width: 992px)  {
    
    .hover-off {
    position: fixed;
    text-align: center;
    font-size: 0.8em;
    width: 20%;
    top: 68%;
    left: 40%;
    display: none;
}

.hover-on {
    position: fixed;
    text-align: center;
    font-size: 0.8em;
    width: 20%;
    top: 63%;
    left: 40%;
    display: block;
}
    
.bg-black {
    background-color: rgba(0,0,0,0.45);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

header {
    text-align: center;
    margin-top: 25px;
    z-index: 2;
    color: white;
    position: relative;
}

.title {
    z-index: 2;
}

h3:hover {
    opacity: 0.8;
}
    
.left-column {
    width: 40%;
    position: absolute;
    left: 0%;
    top: 20%;
    text-align: right;
    font-size: 1.5em;
    z-index: 2;
}

.right-column {
    width: 40%;
    position: absolute;
    left: 60%;
    top: 20%;
    font-size: 1.5em;
    z-index: 2;
}

input {
    margin: 20px; 50px;   
    
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 20%; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8.4px;
  width: 5px;
  background: white;
  cursor: pointer;
  margin-top: -14px;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 8.4px;
  width: 5px;
  background: white;
  cursor: pointer;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 8.4px;
  width: 5px;
  background: white;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #3071a9;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: white;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: white;
}
input[type=range]::-ms-fill-upper {
  background: white;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: white;
}
    button { background-color: rgba(0,0,0,0); }
    i { background-color: rgba(0,0,0,0); }
    

#submit {
    font-size: 5em;
    border-style: none;
    z-index: 1;
    position: absolute;
    top: 70%;
    left: 85%;
}
#submit:hover {
    opacity: 0.9;
}
#submit:focus { 
    outline: 0;   
}
    
}